# Working Iceberg SQL Magic Example

This notebook demonstrates how to use **%sparksql** magic with Iceberg tables in your LASAGNA setup.

## ✅ What Works:
- **%sparksql** magic with Iceberg tables
- Interactive table outputs
- Complex SQL queries
- Cross-database queries

## ❌ What Doesn't Work:
- DataFrame API with `spark.read.format("iceberg")` (due to metadata issues)
- Direct file path access to Iceberg tables

## 1. Create Spark Session with Iceberg Support

## 2. Run Ingestion Script (Optional)

In [ ]:
# Run the ingestion script to create tables and data
# This is optional - tables may already exist from previous runs
import subprocess
import sys

try:
    result = subprocess.run([
        sys.executable, 
        "/usr/local/spark_dev/work/payments_pipeline_ingestion/src/payments_pipeline/bronze/ingestion.py"
    ], capture_output=True, text=True, cwd="/usr/local/spark_dev/work")
    
    if result.returncode == 0:
        print("✅ Ingestion script completed successfully")
        print("Tables and data are ready for SQL magic queries")
    else:
        print("⚠️  Ingestion script had issues, but tables might already exist")
        print("Proceeding with existing tables...")
        
except Exception as e:
    print(f"⚠️  Could not run ingestion script: {e}")
    print("Proceeding with existing tables...")

In [4]:
from pyspark.sql import SparkSession

# Stop any existing session
try:
    spark.stop()
except:
    pass

# Create Spark session with Iceberg support
spark = SparkSession.builder \
    .appName("LASAGNA-Iceberg-SQL") \
    .config("spark.jars.packages", "org.apache.iceberg:iceberg-spark-runtime-3.4_2.12:1.4.2") \
    .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkCatalog") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false") \
    .config("spark.hadoop.fs.s3a.access.key", "admin") \
    .config("spark.hadoop.fs.s3a.secret.key", "password") \
    .getOrCreate()

print("✅ Spark session created with Iceberg support")

25/09/29 16:41:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/09/29 16:41:52 WARN Utils: spark.executor.instances less than spark.dynamicAllocation.minExecutors is invalid, ignoring its setting, please update your configs.

✅ Spark session created with Iceberg support

## 3. Basic Iceberg Table Queries

In [5]:
%%sparksql
-- Count records in merchants_raw table
SELECT COUNT(*) as total_merchants 
FROM spark_catalog.payments_bronze.merchants_raw

[Stage 3:>                                                          (0 + 2) / 2]

Execution time: 5.00 seconds

SparkSchemaWidget(nodes=(Node(close_icon='angle-down', close_icon_style='danger', icon='project-diagram', icon…

In [7]:
%%sparksql
-- Sample data from merchants_raw
SELECT 
    merchant_id,
    merchant_name,
    industry,
    city,
    state,
    mdr_rate
FROM spark_catalog.payments_bronze.merchants_raw

Execution time: 0.45 seconds
Only showing top 20 rows

SparkSchemaWidget(nodes=(Node(close_icon='angle-down', close_icon_style='danger', icon='project-diagram', icon…

## 3. Complex Analytics Queries

In [4]:
%%sparksql
-- Industry analysis
SELECT 
    industry,
    COUNT(*) as merchant_count,
    ROUND(AVG(mdr_rate), 4) as avg_mdr_rate,
    ROUND(MIN(mdr_rate), 4) as min_mdr_rate,
    ROUND(MAX(mdr_rate), 4) as max_mdr_rate
FROM spark_catalog.payments_bronze.merchants_raw 
GROUP BY industry 
ORDER BY merchant_count DESC

Execution time: 0.89 seconds

SparkSchemaWidget(nodes=(Node(close_icon='angle-down', close_icon_style='danger', icon='project-diagram', icon…

In [5]:
%%sparksql
-- Geographic distribution
SELECT 
    state,
    COUNT(*) as merchant_count,
    ROUND(AVG(mdr_rate), 4) as avg_mdr_rate
FROM spark_catalog.payments_bronze.merchants_raw 
GROUP BY state 
ORDER BY merchant_count DESC 
LIMIT 10

Execution time: 0.55 seconds

SparkSchemaWidget(nodes=(Node(close_icon='angle-down', close_icon_style='danger', icon='project-diagram', icon…

In [9]:
%%sparksql
SELECT 
    merchant_name,
    industry,
    COUNT(*) as transaction_count,
    SUM(payment_amount) as total_amount
FROM spark_catalog.payments_bronze.merchants_raw m
JOIN spark_catalog.payments_bronze.transactions_raw t ON m.merchant_id = t.merchant_id
GROUP BY merchant_name, industry
ORDER BY transaction_count DESC
LIMIT 10

Execution time: 2.78 seconds

SparkSchemaWidget(nodes=(Node(close_icon='angle-down', close_icon_style='danger', icon='project-diagram', icon…

## 5. Troubleshooting Guide

### ✅ What Works:
- **%sparksql** magic with full catalog path: `spark_catalog.payments_bronze.merchants_raw`
- Interactive table outputs with automatic pagination
- Complex SQL queries (JOINs, window functions, aggregations)
- Cross-database queries

### ❌ What Doesn't Work:
- DataFrame API: `spark.read.format("iceberg").load("s3a://...")`
- Direct file path access to Iceberg tables
- Trino magic with Iceberg tables (catalog issues)

### 🔧 Key Requirements:
1. **Use full catalog path**: `spark_catalog.payments_bronze.merchants_raw`
2. **Include Iceberg packages** in Spark session
3. **Configure S3A** for MinIO access
4. **Use %sparksql magic** instead of DataFrame API

### 🚀 Performance Tips:
- Use `LIMIT` for exploration queries
- Select specific columns instead of `SELECT *`
- Use proper WHERE clauses to filter data
- Consider partitioning for large tables